body {
    background-image: url(./low_contrast_linen/low_contrast_linen.png);
}

/* validate input entries, validate code, clean up comments, make walkthrough, create readme, submit*/


.team-heading {
    margin: 60px;
    width: 100%;
    background-color: rgb(64, 217, 255);
    border-radius: 10px;
}

h1 {
    font-size: 80px
}

.card-row {
    margin: 0 auto;
    margin-top: 40PX;

}
.employee-card {
    margin: auto;
    margin-bottom: 18px;
    width: 300px;
    height: 400px;
    border-radius: 10PX;
}

.manager {
    background-color: rgb(76, 92, 238);
}

.engineer {
    background-color: rgb(46, 240, 55);
}

.intern {
    background-color: rgb(247, 234, 51);
}
